body {
  margin: 10px;
  font-family: monospace
}

#product-list-item {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px; 
  margin-bottom: 10px;
}

#product-list-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: oldlace;
} 

.btn {
  margin: 2px;
  
}

.btn:hover{
  background-color: black;
}

.card {
  margin-bottom: 10px;
}